<!--
  Generated template for the ReservationSchedulePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
  <ion-label>Horarios por Plug</ion-label>
    <ion-grid padding>
      <ion-row>
        <ion-col *ngFor="let plug of displayPlugs; let i=index;">
          <div>
            <button ion-button full outline (click)="toggleTab(i);">{{plug.id}}</button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let plug of displayPlugs; let i = index;">
       <div *ngIf="openTab[i]">
         <ion-row >
           Horarios plug {{plug.id}}
         </ion-row>

         <ion-row *ngFor="let time of displaySchedules">
           <ion-col class="ion-margin-end ion-text-start">
             {{time}}
           </ion-col>
           <ng-container *ngIf="checkAvaibility(time); else elseTemplate">
              <ion-col style="background-color: green"></ion-col>
           </ng-container>
           <ng-template #elseTemplate>
              <ion-col style="background-color: indianred"></ion-col>
           </ng-template>
         </ion-row>
       </div>


      </ion-row>
    </ion-grid>






</ion-content>
