<!--
  Generated template for the RegisterPlugPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="secondary">
    <ion-title>Información Adicional</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input type='text' [(ngModel)]="stationName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Dirección</ion-label>
    <ion-input type='text' [(ngModel)]="stationDir"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label>Descripción</ion-label>
      <ion-input type='text' [(ngModel)]="stationDesc"></ion-input>
    </ion-item>

  <ion-item>
    <ion-label>Horario de Inicio</ion-label>
    <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="initTimeSlot"></ion-datetime>
  </ion-item>

  <ion-item>
      <ion-label>Horario de Fin</ion-label>
    <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="endTimeSlot"></ion-datetime>
  </ion-item>

    <ion-item>
        <ion-label>Día de Inicio</ion-label>
        <ion-select interface="popover" [(ngModel)]="dateInit" >
          <ion-option *ngFor="let day of daysArray; let i = index" value={{i}}>{{day}}</ion-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>Día de Fin</ion-label>
        <ion-select interface="popover" [(ngModel)]="dateEnd">
          <ion-option *ngFor="let day of daysArray; let i = index" value={{i}}>{{day}}</ion-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>Costo (RD$) por Minuto</ion-label>
        <ion-input type="number" [(ngModel)]="number" required="true" min="1"></ion-input>
    </ion-item>

  <ion-item class="pb-0" no-lines>
    <ion-label position="stacked" class="text-secondary">Tiempo Máximo por Reserva</ion-label>
  </ion-item>
  <ion-item class="pt-0">
    <ion-input type="number" min='0' placeholder="Horas"  [(ngModel)]="maxReservationTimeHrs">{{maxReservationTimeHrs}}</ion-input>
    <ion-input type="number" min='0' max='59' placeholder="Minutos" [(ngModel)]="maxReservationTimeMin">{{maxReservationTimeMin}}</ion-input>
  </ion-item>

  <ion-item class="pb-0" no-lines>
    <ion-label position="stacked" class="text-secondary">Tiempo Límite para Cancelación de Reserva</ion-label>
  </ion-item>
  <ion-item class="pt-0">
    <ion-input type="number" min='0' placeholder="Horas"  [(ngModel)]="timeToCancelHrs">{{timeToCancelHrs}}</ion-input>
    <ion-input type="number" min='0' max='59' placeholder="Minutos" [(ngModel)]="timeToCancelMins">{{timeToCancelMins}}</ion-input>
  </ion-item>

  <ion-item class="pb-0" no-lines>
    <ion-label position="stacked" class="text-secondary">Tiempo de Espera por Reserva</ion-label>
  </ion-item>
  <ion-item class="pt-0">
    <ion-input type="number" min='0' placeholder="Horas"  [(ngModel)]="waitingTimeHrs">{{waitingTimeHrs}}</ion-input>
    <ion-input type="number" min='0' max='59' placeholder="Minutos" [(ngModel)]="waitingTimeMins">{{waitingTimeMins}}</ion-input>
  </ion-item>

  <ion-item class="pb-0" no-lines>
    <ion-label class="text-secondary">Tiempo Mínimo de Antelación para Reservas</ion-label>
  </ion-item>
  <ion-item>
    <ion-input type="number" min='0' small placeholder="Horas"  [(ngModel)]="timeBeforeReservationHrs">{{timeBeforeReservationHrs}}</ion-input>
    <ion-input type="number" min='0' max='59' small placeholder="Minutos" [(ngModel)]="timeBeforeReservationMins">{{timeBeforeReservationMins}}</ion-input>
  </ion-item>

    <ion-item no-lines>
      <button type="submit" ion-button default full color="secondary" style="text-transform: none; margin-left: 10px;" (click)="uploadData()"><span class="glyphicon glyphicon-off"></span> Registrar</button>
    </ion-item>

</ion-content>

